asn1crypto==0.24.0
attrs==17.4.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
funcsigs==1.0.2
future==0.16.0
googletrans==2.2.0
idna==2.6
ntlm-auth==1.1.0
pkg-resources==0.0.0
pluggy==0.6.0
py==1.5.2
pycparser==2.18
pytest==3.4.0
python-telegram-bot==9.0.0
requests==2.18.4
requests-ntlm==1.1.0
six==1.11.0
urllib3==1.22
